<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Lista zakupów</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="product_list.length!=0">

    <ion-list-header>
      <!-- dodam możliwość wybrania innego tygodnia -->
      <ion-toolbar>
        <ion-button slot = "start" (click)="edit(x,index)">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="edit(x,index)">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>

        <ion-title>22-29.03.21</ion-title>
      </ion-toolbar>
    </ion-list-header>

    <ion-item *ngFor="let x of product_list;let index=index">

        <ion-label>
            <h2>{{x.data }}</h2>
            <p *ngIf="x.kcal!=0">Name: {{x.name}}</p>
        </ion-label>

        <ion-button (click)="home()">Szczegóły</ion-button>
      </ion-item> 

  </ion-list>

</ion-content>


